body {
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1429&q=80);
    border: 5px solid greenyellow;
}

.img-container {
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px;
    width: 150px;
}

section {
    max-width: 600px;
    border: 5px solid orange;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}